<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Locomotion Analysis</title>
  </head>
  <body>
    {% extends "template.html" %}
    {% block content %}
        <h1>{{ headline }}</h1>
              <p> Experiment Information table:</p>

                {% for table in tables %}
                {{titles[loop.index]}}
                {{ table|safe }}
        {% endfor %}
        <p><input type="submit" value="submit"/></p>
    {% endblock %}
  </body>
</html>